#### SQL And SQLite
SQL (Structured Query Language) is the standard language used for managing and manipulating relational databases.      
SQLite is a self-contained, serverless, and zero-configuration database engine, commonly used for embedded database systems. In Python3 ,SQLite comes preinstalled

In [22]:
import sqlite3

# Connect to SQLite Database
connection = sqlite3.connect('x1_data.db') # If the database does not exist, it will be created

# Cursor is required to execute queries
# Create a cursor object using the cursor() method
cursor = connection.cursor()

# Create a table
cursor.execute(
    '''CREATE TABLE IF NOT EXISTS users
            (
                id INTEGER PRIMARY KEY,
                name TEXT Not NULL,
                age INTEGER,
                email TEXT
            )''')

# Commit the changes
connection.commit()

# Checking if the table was created
cursor.execute('SELECT * FROM users') # <sqlite3.Cursor at 0x10449e8c0>

### Whenever Using DB make sure to use try-except block


##### CREATE

In [23]:
import sqlite3

#### Inserting single data into the table
try:
    # Create a connection to the database
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Insert single data into the table
    cursor.execute('INSERT INTO users (name, age, email) VALUES ("Raj", 18, "raj.noida@gmail.com")')
    # Commit the changes
    connection.commit()
except Exception as e:
    print(e)
finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

#### Inserting multiple data into the table
users = [
    ("Rajat", 18, "rajatcantcode@gmail.com"),
    ("Simba", 3, "simba@simba.com"),
    ("Coco", 4, "coco@gmail.com")
]

try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Use `executemany` to insert multiple rows at once
    cursor.executemany('INSERT INTO users (name, age, email) VALUES (?,?,?)', users)
    # Commit the changes again
    connection.commit()
except Exception as e:
    print(e)
finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

#### READ

In [24]:
try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Query the data from the table
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()

    # Print the rows in a formatted way
    for row in rows:
        print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}, Email: {row[3]}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

ID: 1, Name: Raj, Age: 18, Email: raj.noida@gmail.com
ID: 2, Name: Rajat, Age: 18, Email: rajatcantcode@gmail.com
ID: 3, Name: Simba, Age: 3, Email: simba@simba.com
ID: 4, Name: Coco, Age: 4, Email: coco@gmail.com

#### UPDATE

In [26]:
try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Update the data in the table
    cursor.execute('UPDATE users SET age = 100 WHERE name = "Raj"')
    # Commit the changes
    connection.commit()

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

###### Checking the updated Data

In [27]:
# Checking the updated data
try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Query the data from the table
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()

    # Print the rows in a formatted way
    for row in rows:
        print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}, Email: {row[3]}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

ID: 1, Name: Raj, Age: 100, Email: raj.noida@gmail.com
ID: 2, Name: Rajat, Age: 18, Email: rajatcantcode@gmail.com
ID: 3, Name: Simba, Age: 3, Email: simba@simba.com
ID: 4, Name: Coco, Age: 4, Email: coco@gmail.com

#### Delete

In [28]:
try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Delete the data from the table
    cursor.execute('DELETE FROM users WHERE name = "Raj"')
    # Commit the changes
    connection.commit()

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

###### Checking the updated Data

In [29]:
# Checking the updated data
try:
    # Reopen the connection and cursor
    connection = sqlite3.connect('x1_data.db')
    cursor = connection.cursor()

    # Query the data from the table
    cursor.execute('SELECT * FROM users')
    rows = cursor.fetchall()

    # Print the rows in a formatted way
    for row in rows:
        print(f"ID: {row[0]}, Name: {row[1]}, Age: {row[2]}, Email: {row[3]}")

except sqlite3.Error as e:
    print(f"An error occurred: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

ID: 2, Name: Rajat, Age: 18, Email: rajatcantcode@gmail.com
ID: 3, Name: Simba, Age: 3, Email: simba@simba.com
ID: 4, Name: Coco, Age: 4, Email: coco@gmail.com