Loops - for , while , do while loop , control statements - break , continue , pass , Nested Loops

In [2]:
range(5) # 0, 1, 2, 3, 4 give us numbers 0 to 5 (exclusive)

range(0, 5)

In [7]:
for i in range(5):
    print(i)

print(" ")

for i in range(0,3):
    print(i)

print(" ")

for i in range(0,10,2):
    print(i)

print(" ")

for i in range(10,0,-1):
    print(i)

0
1
2
3
4

0
1
2

0
2
4
6
8

10
9
8
7
6
5
4
3
2
1

In [24]:
## Strings
str = "Hello World"
for i in str:
    print(i)

print("------")

# While loop
count = 1
while True:
    print("Hello World")
    count += 1
    if(count> 5):
        break

    

# Break Statment
str = "Hello World"
for i in str:
    if i == " ":
        print("Space is here exit the loop : )")
        break
    print(i)

print("------")

# Continue Statment
str = "r a"
for i in str:
    if i == " ":
        print("Space is here")
        continue
    print(i)

# Pass Statment it's a null operation -- when it is executed, nothing happens
for i in range(5):
    if i == 2:
        pass
    print(i)

H
e
l
l
o

W
o
r
l
d
------
Hello World
Hello World
Hello World
Hello World
Hello World
H
e
l
l
o
Space is here exit the loop : )
------
r
Space is here
a
0
1
2
3
4

In [27]:
# Nested Loop
for i in range(5):
        print(" ")
        for j in range(5):
            print("[",i, j,"]")

[ 0 0 ]
[ 0 1 ]
[ 0 2 ]
[ 0 3 ]
[ 0 4 ]

[ 1 0 ]
[ 1 1 ]
[ 1 2 ]
[ 1 3 ]
[ 1 4 ]

[ 2 0 ]
[ 2 1 ]
[ 2 2 ]
[ 2 3 ]
[ 2 4 ]

[ 3 0 ]
[ 3 1 ]
[ 3 2 ]
[ 3 3 ]
[ 3 4 ]

[ 4 0 ]
[ 4 1 ]
[ 4 2 ]
[ 4 3 ]
[ 4 4 ]

In [30]:
# Calculate the sum of first n natural numbers
n = 10
sum = 0
for i in range(n):
    sum += i
print(sum)

45

In [36]:
# Prime numbers between 1 to 100
for i in range(1,101):
    if i > 1:
        for j in range(2,i):
            if i % j == 0:
                break
        # else block will execute if the inner loop did not break that is number is not visible with any number
        ## Learning : else block can be executed with for loop as well
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97